<?xml version="1.0"?>
<model>
  <name>waterdrop</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Ahao</name>
    <email>ahousemail@163.com</email>
  </author>

  <description>
    This is a model of a waterdrop with ArduPilot integration.
  </description>
</model>
